# Settings configuration file for seas-sip-power-to-influxdb app
# Copy this file, remove `.template` extension, and setup the below.
# See README.md for detail.

# Interval of periodic relay loop in seconds.
interval_s = 30

# SAES SIP POWER controller hostname or IP address.
# Optional port if not default value: 2527
host = "<HOST>" # e.g. "192.168.1.20" or "seas-pump.local" 
# port = 2527

# UDP response timeout in seconds.
timeout_s = 3
